<!-- <script>
    if(!localStorage.getItem("keyy") && window.location.pathname != "/login" && !window.location.search.includes("?")){
        window.history.pushState({}, document.title, "/login");
    }
</script> -->
<div class="top">
    <div class="toptxt">
        <div class="first">Unrelenting Enterprises Live: All about taxes ·</div>
        <div class="second"><a href="">Register ></a></div>
    </div>
</div>
<div class="navbar">
    <div class="logo"><a href="/index">
    <!-- <img
    src="https://assets.website-files.com/609486d2fafa37698a57db5b/609bf4ae6380ac34e545f653_firstbase-logo.svg"
    alt=""> -->
        <div class="logodiv"></div>
        <div class="logotitle"> 
           <div class="titletop">Unrelenting</div>
           <div class="titledis">Enterprises</div>
        </div>
    </a>
    </div>
    <div class="navbtns">
        <div class="navbtn"><a href="/product">Product</a></div>
        <div class="navbtn"><a href="/company">Company</a></div>
        <div class="navbtn"><a href="/pricing">Pricing</a></div>
        <div class="navbtn"><a href="/rewards"> Rewards</a></div>
        <div class="navbtn"><a href="/partners">Partners</a></div>
        <div class="navbtn"><a href="/resources">Resources</a></div>
    </div>
    <div class="startBusiness">
        <!-- <div class="signin">Sign in</div>
        <div class="startbtncover">
            <div class="startbtn">Start my business</div>
        </div> -->

        <div class="startbtncover signbtn">
            <div class="startbtn">
            <a href="/login">Sign in</a> 
            </div>
        </div>
    </div>
</div>
<div class="menu" onclick="getMenu()">
        
</div>
<div class="menuitems" id="menudisplay">
    <div class="close" onclick="closeMenu()" >

    </div>
    <div class="navbtnn"><a href="/product">Product</a></div>
    <div class="navbtnn"><a href="/company">Company</a></div>
    <div class="navbtnn"><a href="/pricing">Pricing</a></div>
    <div class="navbtnn"><a href="/rewards"> Rewards</a></div>
    <div class="navbtnn"><a href="/partners">Partners</a></div>
    <div class="navbtnn"><a href="/resources">Resources</a></div>
</div>
<script>
    function getMenu(){
        console.log("HII");
        let menu = document.querySelector("#menudisplay");
        menu.style.display="flex";
        let body = document.body;
        console.log(body);
        body.style.overflowY="hidden";
    }
    function closeMenu(){
        let menu = document.querySelector("#menudisplay");
        menu.style.display="none";
        let body = document.body;
        body.style.overflowY="auto";
    }
</script>