<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/pricing.css">
    <link rel="stylesheet" href="/buymore.css">
    <title>Unrelenting Enterprises</title>
</head>
<body>
    <%- include('../partials/header.ejs'); %>
    <div class="store">Unrelenting Enterprises Store</div>
    <div class="pricing">
        <div class="price1">
            <div class="price">
                <div class="title">
                    <div class="titletopp">FIRSTBASE START™</div>
                    <div class="titlet">A place to buy a business address</div>
                </div>
                <div class="pricedis">
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
    
                </div>
                <div class="amt">$150</div>
                <div class="buy">
                    <h1 class="buybutton" id="num1">
                        Buy
                    </h1>
                </div>
            </div>
            <div class="price">
                <div class="title">
                    <div class="titletopp">FIRSTBASE START™</div>
                    <div class="titlet">A place to buy a business phone number</div>
                </div>
                <div class="pricedis">
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
                    <div class="disinfo">Formation of company in Delaware or Wyoming</div>
    
                </div>
                <div class="amt">$50</div>
                <div class="buy">
                    <h1 class="buybutton" id="num2">
                        Buy
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <img src="https://assets.website-files.com/609486d2fafa37698a57db5b/628e756e9f4514d25e1825d3_agent-herobg.svg"
                alt="" class="sec1imgg">
            

    <%- include('../partials/footer.ejs') %>
</body>

<script>
    const button = document.querySelector(".buybutton");
    // num =3

    document.addEventListener("click",(event)=>{
        console.log(event.target.className)
        let id1;
        if(event.target.className == "buybutton"){
            console.log("HELLO");
            if(event.target.id == "num1"){
                id1 = 4;
            }
            if(event.target.id == "num2"){
                id1 = 5;
            }

            fetch("/create-checkout-session",{
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                items: [
                    { id: id1, quantity: 1 },
                ]
            })
        }).then(res => {
            if(res.ok) return res.json()
            return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
        // console.log(url);
        window.location = url
    })
    .catch(e =>{
        console.log(e);
        console.error(e.error)
    })
        }


    
})
</script>
</html>