<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/startbusiness.css">
    <link rel="stylesheet" href="/llc.css">
    <link rel="stylesheet" href="/don'tknow.css">
    <title>Unrelenting Enterprises</title>
</head>
<body>
    <div class="topselectlogo">Unrelenting Enterprises</div>

    <div class="startbusinesscontainer">
        <div class="startseccond">
            <div class="secondtitle">Are you deciding between an LLC or a C-Corp for your company?</div>
            <div class="seconddis">Answer a few questions to find out which type is right for you.</div>
        </div>
        <form action="/next" method="post">
           
            <div class="knowfirst">Both LLCs and C-Corporations allow founders and their partners to limit their responsibility to company debts and liabilities.</div>
            <div class="knowsecond">With both options offering limited liability, it’s important to consider how you intend to structure the ownership and leadership of your business, your personal and company goals, and your potential tax obligations before deciding on a business classification.
            </div>
            <div class="startlast">
                <div class="back">
                    <a href="/startbusiness">Back</a>
                </div>
                <button class="next" id="nextbtn" type="submit">Next</button>
            </div>
        </form>
    </div>
    <div class="cancle">Cancel Application</div>
</body>
</html>