<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/startbusiness.css">
    <link rel="stylesheet" href="/llc.css">
    <link rel="stylesheet" href="/don'tknow.css">
    <title>Unrelenting Enterprises</title>
</head>
<body>
    <div class="canceldiv" id="cancelid">
        <div class="cancelapp">
            <div class="canceltitle">Cancel Aopplication</div>
            <div class="canceldis">Are you sure you want to cancel the application? All of your data will be removed. This action cannot be undone.</div>
            <div class="cancelbtns">
                <a href="/home"><div class="cno cancelbtn">Confirm</div></a>
                <a href="/don'tknow"><div class="cconfirm cancelbtn">No</div></a>
            </div>
        </div>
    </div>
    <div class="topselectlogo">
        <div class="logotitle"> 
            <div class="titletop">Unrelenting</div>
            <div class="titledis">Enterprises</div>
         </div>
    </div>

    <div class="startbusinesscontainer">
        <div class="startseccond">
            <div class="secondtitle">Are you deciding between an LLC or a C-Corp for your company?</div>
            <div class="seconddis">Answer a few questions to find out which type is right for you.</div>
        </div>
        <form action="/next" method="post">
           
            <div class="knowfirst">Both LLCs and C-Corporations allow founders and their partners to limit their responsibility to company debts and liabilities.</div>
            <div class="knowsecond">With both options offering limited liability, it’s important to consider how you intend to structure the ownership and leadership of your business, your personal and company goals, and your potential tax obligations before deciding on a business classification.
            </div>
            <div class="startlast">
                <div class="back">
                    <a href="/startbusiness">Back</a>
                </div>
                <button class="next" id="nextbtn" type="submit">Next</button>
            </div>
        </form>
    </div>
    <img src="https://assets.website-files.com/609486d2fafa37698a57db5b/628e756e9f4514d25e1825d3_agent-herobg.svg"
    alt="" class="sec1imgg">
    <div class="cancle" onclick="cancel()">Cancel Application</div>

</body>
<script>
    let canceldiv = document.querySelector("#cancelid");
    function cancel(){
        console.log('Hello');
        canceldiv.style.display = "flex";
    }
</script>
</html>