<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/startbusiness.css">
    <link rel="stylesheet" href="/llc.css">
    <link rel="stylesheet" href="/llc-last.css">
    <title>Unrelenting Enterprises</title>
</head>
<body>
    <div class="canceldiv" id="cancelid">
        <div class="cancelapp">
            <div class="canceltitle">Cancel Aopplication</div>
            <div class="canceldis">Are you sure you want to cancel the application? All of your data will be removed. This action cannot be undone.</div>
            <div class="cancelbtns">
                <a href="/home"><div class="cno cancelbtn">Confirm</div></a>
                <a href="/llc-last"><div class="cconfirm cancelbtn">No</div></a>
            </div>
        </div>
    </div>
    <div class="topselectlogo">
        <div class="logotitle"> 
            <div class="titletop">Unrelenting</div>
            <div class="titledis">Enterprises</div>
         </div>
    </div>

    <div class="startbusinesscontainer">
        <div class="starttop">
            <div class="l">Company Details · Wyoming llc</div>
            <div class="r">90%</div>
        </div>
        <div class="startseccond">
            <div class="secondtitle">What do you want to name your company?</div>
            <div class="seconddis">We'll instantly check if your company name is available with the State of Wyoming.</div>
        </div>
        <form action="/next" method="post">
            <div class="form">
                <div class="softtype">
                    <div class="typetitle">
                        <div>Company Industry</div>
                        <div class="main">*</div>
                    </div>
                    <select name="" id="industrytype">
                        <option value="types">Select Type</option>
                        <option value="B2CSoftware">B2C Software</option>
                        <option value="consultant">Consultant/Contractor</option>
                        <option value="ecommerce">E-commerce</option>
                    </select>
                </div>
                <div class="llcsecond">
                    <div class="llcsfirst">
                        <div class="llctitle">
                            <div>Company Name</div>
                            <div class="main">*</div>
                        </div>
                        <input type="text" class="comapnyname">
                    </div>
                    <div class="llcssecond">
                        <div class="llctitle">
                            <div>Entity Ending*</div>
                            <div class="main">*</div>
                        </div>
                        <select name="" id="industrytype">
                            <option value="types">Select Type</option>
                            <option value="B2CSoftware">B2C Software</option>
                            <option value="consultant">Consultant/Contractor</option>
                            <option value="ecommerce">E-commerce</option>
                        </select>
                    </div>
                </div>
                <div class="uitop">
                    Tips for choosing your the right name
                </div>
                <ul>
                    <li>Avoid common words such as "computers".</li>
                    <div class="short">Words like "bank" or "school" can be subject to additional State approval restricted words.</div>

                    <li>Try a name with two or more words.</li>
                    <li>Don't start your name with "A" or "An."</li>
                    <li>Try using English words and avoid using Special Characters.</li>
                    <li>Double-check your spelling.</li>
                    <li>Consider case-sensitivity.</li>
                </ul>
            </div>
            <div class="startlast">
                <div class="back">
                    <a href="/llc">Back</a>
                </div>
                <button class="next" id="nextbtn" type="submit">Next</button>
            </div>
        </form>
    </div>
    <img src="https://assets.website-files.com/609486d2fafa37698a57db5b/628e756e9f4514d25e1825d3_agent-herobg.svg"
    alt="" class="sec1imgg">
    <div class="cancle"onclick="cancel()">Cancel Application</div>


</body>
<script>
    let canceldiv = document.querySelector("#cancelid");
    function cancel(){
        console.log('Hello');
        canceldiv.style.display = "flex";
    }
</script>
</html>