.sec1imgg {
    height: 163%;
    top: -14.5%;
    z-index: -1;
}
.store{
    max-width: 1064px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 12px;
    font-family: 'Lora', serif;
    font-size: 22px;
}
.pricing{
    margin-top: 0;
}
